@model Circular.Models.ViewModels.ProjectViewModel
@{
    ViewData["Id"] = Model.Id;
    ViewData["Title"] = "Project";
}

<style>
    .main {
        display: flex;
        position: relative;
        margin-top: 10%;
        margin-left: 7.5%;
    }

    .main-edit {
        display: flex;
        position: relative;
        margin-top: 10%;
        margin-left: 15%;
    }


    .labels {
        font-size: 20px;
    }

    .edit-info {
        padding-right: 37.5%;
        padding-left: 10%;
    }

    .avatar {
        width: 80%;
        height: 90%;
    }



    .email-pos {
        padding-top: 20%;
        padding-bottom: 2rem;
    }

    .btn-primary {
        margin-bottom: 1rem;
        margin-left: 27%;
    }

    .btn-edit {
        margin-bottom: 1rem;
    }

    .delete-acc {
        padding-left: 60rem;
        padding-right: 15rem;
    }

    .change-btns {
        margin-top: 1rem;
        margin-left: 47%;
    }

    .list-group {
        max-height: 300px;
        min-width: 200px;
        margin-bottom: 10px;
        overflow: scroll;
        -webkit-overflow-scrolling: touch;
    }

    .panel-primary {
        margin-left: 15%;
    }

    table {
        font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
        font-size: 14px;
        border-radius: 10px;
        border-spacing: 0;
        text-align: center;
        min-width: 300px;
    }

    th {
        background: rgba(240, 141, 11, 0.7);
        color: white;
        text-shadow: 0 1px 1px #2D2020;
        padding: 10px 20px;
    }

    th, td {
        border-style: solid;
        border-width: 0 1px 1px 0;
        border-color: white;
    }

        th:first-child, td:first-child {
            text-align: left;
        }

        th:first-child {
            border-top-left-radius: 10px;
        }

        th:last-child {
            border-top-right-radius: 10px;
            border-right: none;
        }

    td {
        padding: 10px 20px;
        background: #D3D3D3;
    }

    tr:last-child td:first-child {
        border-radius: 0 0 0 10px;
    }

    tr:last-child td:last-child {
        border-radius: 0 0 10px 0;
    }

    tr td:last-child {
        border-right: none;
    }
</style>
<div class="main">
    <div class="personal-info">
        <label class="labels" style="margin-left: 27%;">@Model.Name</label><br />
        <a asp-route-id="@Model.Id" style="border:0px; background-color: rgba(240, 141, 11, 0.7); color:rgb(0, 0, 0); width:200px; border-radius: 10px" class="btn btn-primary" asp-controller="Subproject" asp-action="CreateSubproject">Add subproject</a>

    </div>


    <div class="panel-primary" id="result_panel">
        <caption>List of Subprojects</caption>
        <table>
            <tr>
                <th>Name</th>
                <th>GithubLink</th>
                <th>Language</th>
                <th>Create date</th>
            </tr>

            @if (ViewBag.Subprojects != null)
            {
                @foreach (var subproject in ViewBag.Subprojects)
                {
        <tr>
            <td><a asp-controller="Subproject" asp-action="LookSubproject" asp-route-id="@Model.Id">@subproject.name</a></td>
            <td>@subproject.githubLink</td>
            <td>@subproject.language</td>
            <td>@subproject.createDate</td>
        </tr>
                }
            }

        </table>
    </div>

</div>

